# NOTE: This file is just an example!
# You should copy this file to .env and modify it to match your environment.

WP_ENV=development

WP_HOME=https://municipio.test
WP_SITEURL=https://municipio.test

DB_NAME=municipio
DB_USER=root
DB_PASSWORD=''
# Optional database variables
# DB_HOST='127.0.0.1'
# DB_PREFIX='wp_'

MULTISITE=true
DOMAIN_CURRENT_SITE=municipio.test

WP_DEBUG_DISPLAY=false
MX_DEBUG=false

# EP_HOST=http://localhost:9200

WP_REDIS_DISABLED=true

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
