# Package files
composer.json
composer.lock
pnpm-lock.yaml

/web/app/*

# Wordpress mu-plugins
!/web/app/mu-plugins
/web/app/mu-plugins/*
!/web/app/mu-plugins/*.php

# Plugins
!/web/app/plugins
/web/app/plugins/*

# Themes
!/web/app/themes
/web/app/themes/*

# Vendor directories
vendor
/wp

# Compiled files
dist
tmp

# Editor files
.vscode
